<table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">Name</th>
      <th scope="col">Climate</th>
      <th scope="col">Gravity</th>
      <th scope="col">Orbital Period</th>
      <th scope="col">Population</th>
    </tr>
  </thead>
  <tbody>
@for (planet of planets?.results; track planet.name) {
  <tr>
    <td>{{ planet.name }}</td>
    <td>{{ planet.climate }}</td>
    <td>{{ planet.gravity }}</td>
    <td>{{ planet.orbital_period }}</td>
    <td>{{ planet.population }}</td>
  </tr>
}
  </tbody>
</table>
